html {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  width: 500px; 
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 5px;
  background-color: #fbbc00;
  font-size: 1.8rem;
}

.calculator {
  text-align: center;
  padding: 15px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: #a6b9cc;
  border-radius: 10px;
}

.input {
  width: 96%;
  border: 1px solid #ddd;
  color: #000000;
  background-color: #d2dcbb;
  border-radius: 1px;
  height: 80px;
  padding-right: 5px;
  text-align: right;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
}

.input:hover {
  border: 1px solid #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  color: white;
  cursor: pointer;
  background-color: #4e738c;
}

.operators div:last-child {
  margin-right: 0px;
}

.operators div:hover {
  background-color: #4e738c;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #4e738c;
}

.operators div:active {
  font-weight: bold;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  display: inline-block;
  border: 1px solid #7a99ac;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  color: white;
  cursor: pointer;
  background-color: #7a99ac;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.numbers div:hover {
  background-color: #7a99ac;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #7a99ac;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;
  border: 1px solid #fe8002;
  border-radius: 1px;
  width: 17%;
  text-align: center;
  padding: 123px 10px;
  margin: 10px 0px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #fe8002;
  transition: all 0.2s ease-in-out;
}

div.equal:hover {
  background-color: #fe8002;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #fe8002;
}

div.equal:active {
  font-weight: bold;
}
